.navbar {
  display: flex;
  padding: 20px 50px;
  font-size: 1.2rem;
  justify-content: space-between;
  background-color: #002244;
  color: white;
  align-items: center;
  width: 100%; 
}

.navbar h1 {
  font-size: 1.8rem; 
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px; 
}
